:root {
    --extended-feed-width: calc(100vw - 258px - 80px); /* 100vw - sidebar_width - items padding */
}

/* Feed Width */
.story_desc .feed,
div.feed[data-part-name="feed"]
{
    width: var(--extended-feed-width) !important;
    margin: 0 auto;
}

.wrap_map.wrap_desc.detail_desc.cover_content.cover_center > .feed
{
    width: var(--extended-feed-width) !important;
    margin: 0;
    margin-left: calc(0% - (var(--extended-feed-width) / 2)) !important;

}

.wrap_map.wrap_desc.detail_desc.cover_content.cover_center > .feed > .section,
div[data-part-name="feedList"] > .section
{
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
}

.write .section
{
    display: block !important;
}

.comment
{
    margin: 0 0 0 0 !important;
    border-top: 0 !important;
}

._wrapper > div[data-part-name="feedList"] > .section._activity > ._activityBody {
    width: calc(var(--extended-feed-width) / 2) !important;
}

/* 피드 내 공유글 내 여러개의 미디어 */
.fd_cont .share_wrap .wrap_swipe
{
    left: 25% !important;
    width: 496px !important;
    margin: 17px 0px 10px !important;
}

/* 피드 내 여러개의 미디어 */
._contentWrapper .wrap_swipe
{
    left: 249px !important;
    width: 498px !important;
}

.wrap_desc .feed {
    margin-left: 0 !important;
}

.writingContainer {
    width: var(--extended-feed-width);
}

.write {
    width: var(--extended-feed-width) !important;
}

.write .preview .list_preview {
    width: var(--extended-feed-width) !important;
}

/* Write Feed Buttons(Music, Link) */
.write .type li {
    width: 33% !important;
}

/* Write Feed Button(Media) */
.write .type li:first-child {
    width: 34% !important;
}

.story_cont {
    width: var(--extended-feed-width) !important
}

.story_cover {
    width: var(--extended-feed-width) !important;
    margin: 0 auto;
}

.story_widgets
{
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
    height: 342px;
}

.section_widgets.widgets_info
{
    height: 342px;
}

.section_widgets
{
    height: 342px !important;
}

.story_widgets
{
    top: auto !important;
}

.story_widgets
{
    display: none !important;
}
/* Wide 모드에서는 스토리 채널 내 발견 강제 비활성화 */
.story_widgets > div[data-part-name="discovery"]
{
    display: none;
}

/* Wide 모드에서는 추천친구 강제 비활성화 */
.story_widgets > div[data-part-name="recommends"]
{
    display: none;
}

div[data-module="myStoryMainProfile"]
{
    /*margin-left: calc((5vw - 298px) / 2);*/
}

/*
div[data-module="myStoryMainProfile"]
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}
*/

/* .scoll .cover_cont .menu_story
{
    width: 1240px !important;
    margin-left: -730px !important;
} */

.write.cover_content.cover_center > .layer_write {
    width: var(--extended-feed-width) !important;
    margin-left: -50% !important;
}

.share_scrap._mediaContainer {
    width: calc(var(--extended-feed-width) / 2) !important;
    margin: 0 auto !important;
}

.fd_cont .img_wrap {
    left: 25% !important;
}