:root {
    --background-color: #2f3136;
    --text-color: #dcddde;
    --text-highlight-color: #fff;
    --text-menu-color: #b9bbbe;
    --discord-blue: #7289da;
    --dark-background-color: #202225;
}

body { background: var(--background-color) !important; }
.set_login .lab_choice { color: var(--text-color) !important; }
.doc-footer .txt_copyright { color: var(--text-color) !important; }
a { color: var(--text-highlight-color) !important; }
.cont_login a { color: var(--text-menu-color) !important; }
.doc-footer .service_info .link_info { color: var(--text-menu-color) !important; }
.item_select .link_selected { color: var(--text-menu-color) !important; }
.box_tf { border: solid 0px var(--text-highlight-color) !important; background: var(--dark-background-color) !important; padding-left: 10px; padding-right: 10px; }
.box_tf .tf_g { color: var(--text-color) !important; }
.info_tip, .line_or .txt_or { color: var(--text-color) !important;}
.info_tip .txt_tip { color: var(--discord-blue) !important; }
.box_tf .txt_mail { color: var(--text-color) !important; margin-right: 10px !important }
.doc-title .tit_service .logo_kakao { background: var(--background-color) url(http://127.0.0.1:8188/KakaoStory-Enhanced/images/logo_kakao.png) no-repeat 0 0 !important; background-size: 100px 80px !important; };