--saturation-factor: 1;
--bg-gradient-aurora-1: hsl(var(--bg-gradient-aurora-1-hsl)/1);
--bg-gradient-aurora-1-hsl: 220 calc(var(--saturation-factor, 1)*86.5%) 17.5%;
--bg-gradient-aurora-2: hsl(var(--bg-gradient-aurora-2-hsl)/1);
--bg-gradient-aurora-2-hsl: 238 calc(var(--saturation-factor, 1)*76.4%) 41.6%;
--bg-gradient-aurora-3: hsl(var(--bg-gradient-aurora-3-hsl)/1);
--bg-gradient-aurora-3-hsl: 184 calc(var(--saturation-factor, 1)*78%) 33.9%;
--bg-gradient-aurora-4: hsl(var(--bg-gradient-aurora-4-hsl)/1);
--bg-gradient-aurora-4-hsl: 169 calc(var(--saturation-factor, 1)*60.2%) 32.5%;
--bg-gradient-aurora-5: hsl(var(--bg-gradient-aurora-5-hsl)/1);
--bg-gradient-aurora-5-hsl: 230 calc(var(--saturation-factor, 1)*92.5%) 26.3%;
--custom-background-color: linear-gradient(239.16deg, var(--bg-gradient-aurora-1) 10.39%, var(--bg-gradient-aurora-2) 26.87%, var(--bg-gradient-aurora-3) 48.31%, var(--bg-gradient-aurora-4) 64.98%, var(--bg-gradient-aurora-5) 92.5%);
--right-background-color: linear-gradient(rgb(0 0 0/0.7),rgb(0 0 0/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--background-color: linear-gradient(rgb(0 0 0/0.85),rgb(0 0 0/0.85)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--light-background-color: linear-gradient(rgb(0 0 0/0.7),rgb(0 0 0/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--lighter-background-color: linear-gradient(rgb(0 0 0/0.7),rgb(0 0 0/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--comment-background-color: linear-gradient(rgb(0 0 0/0.6),rgb(0 0 0/0.6)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--dark-background-color: linear-gradient(rgb(0 0 0/0.9),rgb(0 0 0/0.9)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--dark-border-color: #000000;
--darker-background-color: linear-gradient(rgb(0 0 0/0.9),rgb(0 0 0/0.9)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--background-border-color: #262729;
--text-color: #dcddde;
--text-title-color: #8e9297;
--text-highlight-color: #fff;
--text-desc-color: #afb1b4;
--noti-unread-background-color: #49453c;
--noti-unread-bar-color: #f6a820;
--info-text-color: #afb0b2;
--scrap-text-color: #00b5ff;
--menu-text-color: #b9bbbe;
--emoticon-background-color: linear-gradient(rgb(0 0 0/0.7),rgb(0 0 0/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--discord-blue: #7289da;
--discord-blue-disable: #a0b2f4;
--discord-blue-hover: #677bc4;
--black: #000;
--lighter-border-color: rgba(0,0,0,0);
--header-border-color: #222427;
--mention-background-color: #5865f24c;
--mention-color: #c9cdfb;
--background-hover-color: linear-gradient(rgb(255 255 255/0.08),rgb(255 255 255/0.08)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;