--right-background-color: #000000;
--background-color: #000000;
--light-background-color: #000000;
--lighter-background-color: #000000;
--comment-background-color: #000000;
--dark-background-color: #000000;
--dark-border-color: #000000;
--darker-background-color: #000000;
--background-border-color: #000000;
--text-color: #ffffff;
--text-title-color: #ffffff;
--text-highlight-color: #ffffff;
--text-desc-color: #ffffff;
--noti-unread-background-color: #000000;
--noti-unread-bar-color: #000000;
--info-text-color: #ffffff;
--scrap-text-color: #ffffff;
--menu-text-color: #ffffff;
--emoticon-background-color: #000000;
--discord-blue: #000000;
--discord-blue-disable: #000000;
--discord-blue-hover: #000000;
--black: #000000;
--lighter-border-color: #000000;
--header-border-color: #000000;
--mention-background-color: #000000;
--mention-color: #ffffff;
--background-hover-color: #000000;