--saturation-factor: 1;
--bg-gradient-blue-lemonade-1: hsl(var(--bg-gradient-blue-lemonade-1-hsl)/1);
--bg-gradient-blue-lemonade-1-hsl: 52 calc(var(--saturation-factor, 1)*87%) 63.9%;
--bg-gradient-blue-lemonade-2: hsl(var(--bg-gradient-blue-lemonade-2-hsl)/1);
--bg-gradient-blue-lemonade-2-hsl: 145 calc(var(--saturation-factor, 1)*29.7%) 78.2%;
--bg-gradient-blue-lemonade-3: hsl(var(--bg-gradient-blue-lemonade-3-hsl)/1);
--bg-gradient-blue-lemonade-3-hsl: 182 calc(var(--saturation-factor, 1)*68.8%) 45.3%;
--custom-background-color: linear-gradient(180.12deg, var(--bg-gradient-blue-lemonade-1) 3.56%, var(--bg-gradient-blue-lemonade-2) 35.49%, var(--bg-gradient-blue-lemonade-3) 68.78%)
--right-background-color: linear-gradient(rgb(255 255 255/0.7),rgb(255 255 255/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--background-color: linear-gradient(rgb(255 255 255/0.85),rgb(255 255 255/0.85)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--light-background-color: linear-gradient(rgb(255 255 255/0.7),rgb(255 255 255/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--lighter-background-color: linear-gradient(rgb(255 255 255/0.7),rgb(255 255 255/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--comment-background-color: linear-gradient(rgb(255 255 255/0.6),rgb(255 255 255/0.6)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--dark-background-color: linear-gradient(rgb(255 255 255/0.9),rgb(255 255 255/0.9)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--dark-border-color: #d0d0d0;
--darker-background-color: linear-gradient(rgb(255 255 255/0.9),rgb(255 255 255/0.9)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--background-border-color: #d9d9d9;
--text-color: #000;
--text-title-color: #000;
--text-highlight-color: #000;
--text-desc-color: #80848e;
--noti-unread-background-color: rgba(240, 177, 50, 0.2);
--noti-unread-bar-color: #f6a820;
--info-text-color: #828793;
--scrap-text-color: #00b5ff;
--menu-text-color: #000;
--emoticon-background-color: linear-gradient(rgb(255 255 255/0.7),rgb(255 255 255/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--discord-blue: #7289da;
--discord-blue-disable: #a0b2f4;
--discord-blue-hover: #677bc4;
--black: #000;
--lighter-border-color: rgba(0,0,0,0);
--header-border-color: #222427;
--mention-background-color: rgba(88, 101, 242, 0.15);
--mention-color: #5865f2;
--background-hover-color: linear-gradient(rgb(0 0 0/0.08),rgb(0 0 0/0.08)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--dark-theme-ks-logo: url('https://raw.githubusercontent.com/reflection1921/KakaoStory-Enhanced/main/images/logo_kseh.png');