--right-background-color: #001540;
--background-color: #001b3a;
--light-background-color: #00224b;
--lighter-background-color: #00316e;
--comment-background-color: #00316e;
--dark-background-color: #001134;
--dark-border-color: #001134;
--darker-background-color: #00133b;
--background-border-color: #000c1a;
--text-color: #dcddde;
--text-title-color: #8e9297;
--text-highlight-color: #fff;
--text-desc-color: #afb1b4;
--noti-unread-background-color: #49453c;
--noti-unread-bar-color: #f6a820;
--info-text-color: #afb0b2;
--scrap-text-color: #00b5ff;
--menu-text-color: #b9bbbe;
--emoticon-background-color: #003f8d;
--discord-blue: #0051b6;
--discord-blue-disable: #4c95f1;
--discord-blue-hover: #005fd6;
--black: #000;
--lighter-border-color: #003c87;
--header-border-color: #222427;
--mention-background-color: #004585;
--mention-color: #e3e7ec;
--background-hover-color: #002d64;