--right-background-color: #2f0b0c;
--background-color: #340d0d;
--light-background-color: #3c0f10;
--lighter-background-color: #451213;
--comment-background-color: #451213;
--dark-background-color: #200808;
--dark-border-color: #200808;
--darker-background-color: #1a0606;
--background-border-color: #290a0a;
--text-color: #dcddde;
--text-title-color: #8e9297;
--text-highlight-color: #fff;
--text-desc-color: #afb1b4;
--noti-unread-background-color: #49453c;
--noti-unread-bar-color: #f6a820;
--info-text-color: #afb0b2;
--scrap-text-color: #00b5ff;
--menu-text-color: #b9bbbe;
--emoticon-background-color: #561718;
--discord-blue: #e5393b;
--discord-blue-disable: #661b1c;
--discord-blue-hover: #a91b1d;
--black: #000;
--lighter-border-color: #511516;
--header-border-color: #222427;
--mention-background-color: #6e484c;
--mention-color: #e3e7ec;
--background-hover-color: #401112;