--right-background-color: #292b2f;
--background-color: #2f3136;
--light-background-color: #36393f;
--lighter-background-color: #40444b;
--dark-background-color: #202225;
--darker-background-color: #18191c;
--background-border-color: #262729;
--text-color: #dcddde;
--text-title-color: #8e9297;
--text-highlight-color: #fff;
--text-desc-color: #afb1b4;
--noti-unread-background-color: #49453c;
--noti-unread-bar-color: #f6a820;
--info-text-color: #afb0b2;
--scrap-text-color: ##00b5ff;
--menu-text-color: #b9bbbe;
--emoticon-background-color: #4f545c;
--discord-blue: #7289da;
--discord-blue-disable: #a0b2f4;
--discord-blue-hover: #677bc4;
--black: #000;
--lighter-border-color: #42454a;
--header-border-color: #222427;
--mention-background-color: #48516e;
--mention-color: #e3e7ec;
--background-hover-color: #32353b;