--saturation-factor: 1;
--bg-gradient-midnight-blurple-1: hsl(var(--bg-gradient-midnight-blurple-1-hsl)/1);
--bg-gradient-midnight-blurple-1-hsl: 245 calc(var(--saturation-factor, 1)*55.1%) 53.7%;
--bg-gradient-midnight-blurple-2: hsl(var(--bg-gradient-midnight-blurple-2-hsl)/1);
--bg-gradient-midnight-blurple-2-hsl: 259 calc(var(--saturation-factor, 1)*74.5%) 10.8%;
--custom-background-color: linear-gradient(48.17deg, var(--bg-gradient-midnight-blurple-1) 11.21%, var(--bg-gradient-midnight-blurple-2) 61.92%);
--right-background-color: linear-gradient(rgb(0 0 0/0.7),rgb(0 0 0/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--background-color: linear-gradient(rgb(0 0 0/0.85),rgb(0 0 0/0.85)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--light-background-color: linear-gradient(rgb(0 0 0/0.7),rgb(0 0 0/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--lighter-background-color: linear-gradient(rgb(0 0 0/0.7),rgb(0 0 0/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--comment-background-color: linear-gradient(rgb(0 0 0/0.6),rgb(0 0 0/0.6)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--dark-background-color: linear-gradient(rgb(0 0 0/0.9),rgb(0 0 0/0.9)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--dark-border-color: #000000;
--darker-background-color: linear-gradient(rgb(0 0 0/0.9),rgb(0 0 0/0.9)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--background-border-color: #262729;
--text-color: #dcddde;
--text-title-color: #8e9297;
--text-highlight-color: #fff;
--text-desc-color: #afb1b4;
--noti-unread-background-color: #49453c;
--noti-unread-bar-color: #f6a820;
--info-text-color: #afb0b2;
--scrap-text-color: #00b5ff;
--menu-text-color: #b9bbbe;
--emoticon-background-color: linear-gradient(rgb(0 0 0/0.7),rgb(0 0 0/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--discord-blue: #7289da;
--discord-blue-disable: #a0b2f4;
--discord-blue-hover: #677bc4;
--black: #000;
--lighter-border-color: rgba(0,0,0,0);
--header-border-color: #222427;
--mention-background-color: #5865f24c;
--mention-color: #c9cdfb;
--background-hover-color: linear-gradient(rgb(255 255 255/0.08),rgb(255 255 255/0.08)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--dark-theme-ks-logo: url('https://raw.githubusercontent.com/reflection1921/KakaoStory-Enhanced/main/images/logo_kseh_dark.png');