--saturation-factor: 1;
--bg-gradient-strawberry-lemonade-1: hsl(var(--bg-gradient-strawberry-lemonade-1-hsl)/1);
--bg-gradient-strawberry-lemonade-1-hsl: 327 calc(var(--saturation-factor, 1)*74.1%) 39.4%;
--bg-gradient-strawberry-lemonade-2: hsl(var(--bg-gradient-strawberry-lemonade-2-hsl)/1);
--bg-gradient-strawberry-lemonade-2-hsl: 28 calc(var(--saturation-factor, 1)*71.7%) 44.3%;
--bg-gradient-strawberry-lemonade-3: hsl(var(--bg-gradient-strawberry-lemonade-3-hsl)/1);
--bg-gradient-strawberry-lemonade-3-hsl: 40 calc(var(--saturation-factor, 1)*80.2%) 52.5%;
--custom-background-color: linear-gradient(161.03deg, var(--bg-gradient-strawberry-lemonade-1) 18.79%, var(--bg-gradient-strawberry-lemonade-2) 49.76%, var(--bg-gradient-strawberry-lemonade-3) 80.72%);
--right-background-color: linear-gradient(rgb(0 0 0/0.7),rgb(0 0 0/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--background-color: linear-gradient(rgb(0 0 0/0.85),rgb(0 0 0/0.85)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--light-background-color: linear-gradient(rgb(0 0 0/0.7),rgb(0 0 0/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--lighter-background-color: linear-gradient(rgb(0 0 0/0.7),rgb(0 0 0/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--comment-background-color: linear-gradient(rgb(0 0 0/0.6),rgb(0 0 0/0.6)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--dark-background-color: linear-gradient(rgb(0 0 0/0.9),rgb(0 0 0/0.9)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--dark-border-color: #000000;
--darker-background-color: linear-gradient(rgb(0 0 0/0.9),rgb(0 0 0/0.9)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--background-border-color: #262729;
--text-color: #dcddde;
--text-title-color: #8e9297;
--text-highlight-color: #fff;
--text-desc-color: #afb1b4;
--noti-unread-background-color: #49453c;
--noti-unread-bar-color: #f6a820;
--info-text-color: #afb0b2;
--scrap-text-color: #00b5ff;
--menu-text-color: #b9bbbe;
--emoticon-background-color: linear-gradient(rgb(0 0 0/0.7),rgb(0 0 0/0.7)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;
--discord-blue: #7289da;
--discord-blue-disable: #a0b2f4;
--discord-blue-hover: #677bc4;
--black: #000;
--lighter-border-color: rgba(0,0,0,0);
--header-border-color: #222427;
--mention-background-color: #5865f24c;
--mention-color: #c9cdfb;
--background-hover-color: linear-gradient(rgb(255 255 255/0.08),rgb(255 255 255/0.08)) fixed 0 0/cover,var(--custom-background-color) fixed 0 0/cover;