--right-background-color: #2d2d30;
--background-color: #252526;
--light-background-color: #2d2d30;
--lighter-background-color: #333337;
--dark-background-color: #252526;
--darker-background-color: #1b1b1c;
--background-border-color: #333337;
--text-color: #d0d0d0;
--text-title-color: #d0d0d0;
--text-highlight-color: #f1f1f1;
--text-desc-color: #999999;
--noti-unread-background-color: #2b537d;
--noti-unread-bar-color: #577430;
--info-text-color: #999999;
--scrap-text-color: #007acc;
--menu-text-color: #f1f1f1;
--emoticon-background-color: #4f545c; v
--discord-blue: #68217a;
--discord-blue-disable: #9f5faf;
--discord-blue-hover: #862a9d;
--black: #000;
--lighter-border-color: #3f3f46;
--header-border-color: #222427;v 
--mention-background-color: #123e71;
--mention-color: #f1f1f1;
--background-hover-color: #333334;
--dark-theme-ks-logo: url('https://raw.githubusercontent.com/reflection1921/KakaoStory-Enhanced/main/images/logo_kseh_dark.png');